<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>BotBuild Dashboard</title>
</head>
<body onload="loadDashboard()">
    <div class="dashboard-container">
        <div class="sidebar">
            <h1>Welcome back!</h1>
            <div class="sidebar-button" id="open-immersive-welcome-experience">
                Home
            </div>
            <div class="sidebar-button" id="open-bot-credentials">
                Bot credentials
            </div>
        </div>
        <div class="content">
            <div class="category" id="immersive-welcome-experience">
                <h1>Welcome to BotBuild!</h1>
                <p>Start by changing one of these settings for your bot.</p>
            </div>
            <div class="category" id="bot-credentials">
                <h2>Bot credentials</h2>
                <p>Set the credentials for your bot here.</p>
                <p>Need a bot token? Create your Discord bot account <a href="https://discord.com/developers/applications" target="_blank">here</a>.</p>
                <div><span>Bot token:</span>
                    <input type="password" id="bot-credentials-token"></div>
                <p class="warning-text">IMPORTANT: Keep your bot token safe and do not give it to anyone! You can find it in the token.txt file if you forget it.</p>
                <button onclick="botCredentialsSave()">Save</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>