<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>BotBuild Dashboard</title>
</head>
<body onload="loadDashboard()">
    <div class="dashboard-container">
        <div class="sidebar">
            <h1>Welcome back!</h1>
            <div class="sidebar-button" id="open-immersive-welcome-experience">
                Home
            </div>
            <div class="sidebar-button" id="open-bot-credentials">
                Bot credentials
            </div>
            <div class="sidebar-button" id="open-slash-commands">
                Commands
            </div>
            <div class="sidebar-button" id="open-server-management">
                Servers
            </div>
            <div class="sidebar-button" id="open-moderation-module">
                Moderation
            </div>
            <div class="sidebar-button" id="open-greetings-module">
                Greetings
            </div>
            <div class="sidebar-button" id="open-special-channels-module">
                Special Channels
            </div>
            <div class="sidebar-button" id="open-polls-module">
                Polls
            </div>
        </div>
        <div class="content">
            <div class="category" id="immersive-welcome-experience">
                <h1>Welcome to BotBuild!</h1>
                <p>New here? Start with these options, the rest can wait:</p>
                <p><a href="#">Connect to your Discord bot account</a></p>
                <p><a href="#">Set up greetings</a></p>
                <p><a href="#">Register slash commands</a></p>
            </div>
            <div class="category" id="bot-credentials">
                <h2>Bot credentials</h2>
                <p>Set the credentials for your bot here.</p>
                <p>Need a bot token? Create your Discord bot account <a href="https://discord.com/developers/applications" target="_blank">here</a>.</p>
                <div><span>Bot token:</span>
                    <input type="password" id="bot-credentials-token"></div>
                <p class="warning-text">IMPORTANT: Keep your bot token safe and do not give it to anyone! You can find it in the token.txt file if you forget it.</p>
                <button onclick="botCredentialsSave()">Save</button>
            </div>
            <div class="category" id="slash-commands">
                <h2>Slash commands</h2>
                <p>To be able to use most of your bot's functionality, please click the button below to signal to the bot that you want to register the slash commands.</p>
                <p>Due to a limitation on Discord's side, the commands may take for up to an hour to register. Please keep your bot on during this time.</p>
                <p>Please don't spam the registration button, as Discord may ratelimit your bot.</p>
                <button onclick="slashCommandsRegister()">Register</button>
            </div>
            <div class="category" id="server-management">
                <h2>Servers</h2>
                <p>Here is a list of all the servers your bot is in.</p>
                <div id="server-management-server-list">

                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>